[user]
    name = Evaristo Rojas
    email = evaristo.rojas@islas.org.mx

[alias]
    adog = log --all --graph --date=short --pretty=format:%C(auto)%h%x20%ad%x20%s%x20%C(auto)%d
    dunk = !git diff | dunk

[init]
    defaultBranch = develop
[core]
	editor = nvim
